$primaryLightColor: #8874BD !default;
$primaryColor: #594791 !default;
$primaryDarkColor: #43337C !default;
$primaryDarkerColor: #312368 !default;
$primaryTextColor: #f8fafc !default;

@import '../sass/theme/_theme_light';