$primaryLightColor: #E9AB4E  !default;
$primaryColor: #DB8519  !default;
$primaryDarkColor: #BC6912  !default;
$primaryDarkerColor: #9D500C  !default;
$primaryTextColor: #f8fafc  !default;

@import '../sass/theme/_theme_light';