$primaryLightColor: #AB99D7 !default;
$primaryColor: #8874BD !default;
$primaryDarkColor: #6754A2 !default;
$primaryDarkerColor: #4B3A88 !default;
$primaryTextColor: #f8fafc !default;

@import '../sass/theme/_theme_dim';