$primaryLightColor: #BD7194 !default;
$primaryColor: #924470 !default;
$primaryDarkColor: #7D3164 !default;
$primaryDarkerColor: #692258 !default;
$primaryTextColor: #f8fafc !default;
@import '../sass/theme/_theme_light';