$primaryLightColor: #F97592 !default;
$primaryColor: #F5487F !default;
$primaryDarkColor: #D23476 !default;
$primaryDarkerColor: #B0246C !default;
$primaryTextColor: #f8fafc !default;

@import '../sass/theme/_theme_light';