$primaryLightColor: #8CACD8  !default;
$primaryColor: #6688BF  !default;
$primaryDarkColor: #4A69A4  !default;
$primaryDarkerColor: #334D89  !default;
$primaryTextColor: #f8fafc  !default;

@import '../sass/theme/_theme_dim';