$primaryLightColor: #69BE85  !default;
$primaryColor: #3C9462  !default;
$primaryDarkColor: #2B7F58  !default;
$primaryDarkerColor: #1E6A4E  !default;
$primaryTextColor: #f8fafc  !default;

@import '../sass/theme/_theme_light';