$primaryLightColor: #57C8E5 !default;
$primaryColor: #25A4D4 !default;
$primaryDarkColor: #1B81B6 !default;
$primaryDarkerColor: #126198 !default;
$primaryTextColor: #f8fafc !default;

@import '../sass/theme/_theme_dim';