$primaryLightColor: #E1ABDC !default;
$primaryColor: #CE8CCE !default;
$primaryDarkColor: #AA66B1 !default;
$primaryDarkerColor: #864694 !default;
$primaryTextColor: #f8fafc !default;

@import '../sass/theme/_theme_dark';