$primaryLightColor: #56A7F5 !default;
$primaryColor: #2c84d8 !default;
$primaryDarkColor: #1B72C4 !default;
$primaryDarkerColor: #044D92 !default;
$primaryTextColor: #f8fafc !default;

@import '../sass/theme/_theme_dim';