$primaryLightColor: #CE8CCE !default;
$primaryColor: #A864AE !default;
$primaryDarkColor: #894995 !default;
$primaryDarkerColor: #6A327D !default;
$primaryTextColor: #f8fafc !default;
@import '../sass/theme/_theme_light';